html body {
  margin: 0px;
  padding: 0px;
}

.divImagem {
  text-align: center;
}

.imagem {
  height: 200px;
  width: 200px;
  margin: 30px;
}

button {
  display: block;
  margin: 0 auto 10px auto;
}

.buttonEsquerda {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.container {
  display: flex;
}

.esquerda {
  background-color: aqua;
  width: 400px;
}

.direita {
  display: flex;
  flex-direction: column;
  background-color: salmon;
  width: 100%;
  padding: 10px;
}

.textos {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 10px;
  border: 1px solid silver;
}

p {
  display: inline-block;
  height: 300px;
  width: 200px;
  border: 1px solid silver;
  margin: 10px;
}

label {
  margin-left: 10px;
}

input {
  width: 300px;
  margin: 5px 0 10px 0;
}

.divForm {
  display: flex;
  flex-direction: column;
}

fieldset:nth-of-type(1){ transform: rotate(180deg); }
fieldset:nth-of-type(1)>legend{ transform: rotate(180deg); } 
fieldset:nth-of-type(1)>div{ transform: rotate(180deg); }

legend{
  padding: 0px;
  position: relative;
  top: -3%;
  transform: translateY(-50%); 
}

.textA {
  
}

.textB {
  align-content: center;
}

.textC {
  
}